.bunds {
  width: 50px;
  height: 50px;
  transition: 0.4s;
  border: 1px orange solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.bunds:hover {
  border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  -ms-border-radius: 80%;
  -o-border-radius: 80%;
  cursor: pointer;
}
.bunds:active {
  transition: none;
  background-color: orange;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.bunds:active div {
  background-color: white;
}

.bunds div {
  transition: 0.3s;
  margin: 10px auto;
  border-radius: 3px;
  width: 40px;
  background-color: orange;
  padding: 1.5px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.bunds:hover div:nth-child(1) {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateY(12px) rotate(45deg);
  -webkit-transform: translateY(12px) rotate(45deg);
  -moz-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
}
.bunds:hover div:nth-child(2) {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  opacity: 0;
}
.bunds:hover div:nth-child(3) {
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
  transform: translateY(-13px) rotate(135deg);
  -webkit-transform: translateY(-13px) rotate(135deg);
  -moz-transform: translateY(-13px) rotate(135deg);
  -ms-transform: translateY(-13px) rotate(135deg);
  -o-transform: translateY(-13px) rotate(135deg);
}
