.buns {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  transition: 0.4s;
  border: 1px orange solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: 5;
}

.buns:hover {
  border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  -ms-border-radius: 80%;
  -o-border-radius: 80%;
  cursor: pointer;
}
.buns:active {
  transition: none;
  background-color: orange;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.buns:active div {
  background-color: white;
}

.buns div {
  transition: 0.3s;
  margin: 10px auto;
  border-radius: 3px;
  width: 25px;
  background-color: orange;
  padding: 1.5px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.buns:hover div:nth-child(1) {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translate(-7px, 15px) rotate(55deg);
  -webkit-transform: translate(-7px, 15px) rotate(55deg);
  -moz-transform: translate(-7px, 15px) rotate(55deg);
  -ms-transform: translate(-7px, 15px) rotate(55deg);
  -o-transform: translate(-7px, 15px) rotate(55deg);
}
.buns:hover div:nth-child(2) {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  opacity: 0;
}
.buns:hover div:nth-child(3) {
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
  transform: translate(7px, -10px) rotate(125deg);
  -webkit-transform: translate(7px, -10px) rotate(125deg);
  -moz-transform: translate(7px, -10px) rotate(125deg);
  -ms-transform: translate(7px, -10px) rotate(125deg);
  -o-transform: translate(7px, -10px) rotate(125deg);
}
