* {
  margin: 0;
}

body {
  background-color: #b1b1b1;
}

nav {
  width: 100%;
  background-color: #303030;
  padding: 15px 0;
  color: white;
}

nav li {
  display: inline-block;
}
.bgImg {
  position: relative;
  width: 100%;
  height: 480px;
  filter: grayscale(0.15);
  background-position: center;
  background-image: url("../images/codingtree.jpg");
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.15);
}
