* {
  margin: 0;
}

body {
  background: linear-gradient(48deg, #000637, 26%, #00e1ff, 30%, #ffff);
}

nav {
  width: 100%;
  background-color: #303030;
  padding: 15px 0;
}

nav a {
  color: #ffff;
}

nav a:hover {
  color: orange;
}

nav div {
 text-align: right;
}
nav div li {
  display: inline-block;
  padding: 5px;
}


.bgImg {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 480px;
  filter: grayscale(0.15);
  background-position: center;
  background-image: url("../images/codingtree.jpg");
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.15);
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: #ffffffc2;
}

#descr {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}
form {
  width: 600px;
  margin: 0 auto;
}

input {
  border: 1px #7e7e7e solid;
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff5e;
}
input:focus {
  border: 2px #00aeff solid;
}

textarea {
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff5e;
}
textarea:focus {
  border: 2px #00aeff solid;
}

.jumpUp {
  font-weight: 800;
  color: #ffff;
  transition: 1s;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #000080;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.jumpUp:hover {
  transition: 0.5s;
  background-color: #0000803f;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
footer {
  width: 100%;
  text-align: center;
  color: #ffff;
  background-color: #004688;
  padding: 50px 0;
}

a:hover {
  cursor: pointer;
}
