* {
  margin: 0;
}

body {
  background: linear-gradient(48deg, #000637, 26%, #00e1ff, 30%, #ffff);
}

nav {
  width: 100%;
  background-color: #303030;
  padding: 15px 0;
  height: 70px;
}

.sidebar {
  position: fixed;
  transition: 0.4s;
  z-index: 4;
  width: 400px;
  background-color: #060624d3;
  height: 100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#addSideBar {
  position: fixed;
  width: 325px;
  transition: 0.2s;
  left: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#addSideBar div {
  position: relative;
  width: 100%;
  top: 100px;
}

#addSideBar li {
  list-style: none;
  font-size: x-large;
}

#addSideBar li a {
  display: block;
  padding: 40px 5px;
  width: 100%;
  color: white;
}
nav a {
  color: #ffff;
}

nav a:hover {
  color: #00b7ff;
}

nav a:active {
  color: #ff0000;
}

#links {
  position: relative;
  text-align: right;
}
#links a {
  padding: 10px;
  font-size: large;
}
nav div li {
  display: inline-block;
}

#links a:hover,
#addSideBar a:hover {
  transition: 0.4s;
  background-color: #e99f00d3;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.bgImg {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 480px;
  filter: grayscale(0.15);
  background-position: center;
  background-image: url("../images/codingtree.jpg");
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.15);
}

#info {
  position: relative;
  margin: 0 auto;
  background-color: #088ffd8e;
  width: auto;
  top: 250px;
  padding: 20px;
  color: white;
}
#info a:nth-child(1) {
  background-color: none;
  color: white;
}

#info a:nth-child(5) {
  position: relative;
  top: 20px;
  background-color: #000080;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
}

#info a:active {
  background-color: #9797fd;
}
main {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: #ffffffc2;
}

.card-body {
  height: 250px;
}

.card-img,
.card-img-bottom,
.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 160px;
}
#descr {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}
form {
  width: 600px;
  margin: 0 auto;
}

input {
  border: 1px #7e7e7e solid;
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff5e;
}
input:focus {
  border: 2px #00aeff solid;
}

textarea {
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff5e;
}
textarea:focus {
  border: 2px #00aeff solid;
}

.jumpUp {
  position: relative;
  bottom: 15px;
  font-weight: 800;
  color: #ffff;
  transition: 1s;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #000080;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.jumpUp:hover {
  transition: 0.5s;
  background-color: #0000803f;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
footer {
  width: 100%;
  text-align: center;
  color: #ffff;
  background-color: #004688;
  padding: 50px 0;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #00e1ff;
}

a:hover {
  cursor: pointer;
}
