* {
  margin: 0;
}

body {
  background: linear-gradient(48deg, #000637, 26%, #00e1ff, 30%, #ffff);
}

nav {
  width: 100%;
  background-color: #303030;
  padding: 15px 0;
  color: white;
}

nav li {
  display: inline-block;
}
.bgImg {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 480px;
  filter: grayscale(0.15);
  background-position: center;
  background-image: url("../images/codingtree.jpg");
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.15);
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: #ffffffc2;
}
form {
  width: 600px;
  margin: 0 auto;
}

input {
  border: 1px #7e7e7e solid;
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff5e;
}
input:focus {
  border: 2px #00aeff solid;
}

textarea {
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff5e;
}
textarea:focus {
  border: 2px #00aeff solid;
}

footer {
  width: 100%;
  text-align: center;
  color: #ffff;
  background-color: #004688;
  padding: 50px 0;
}

a:hover {
  cursor: pointer;
}
